# {{ ansible_managed }}

XMPP_JID="{{ base_shouter_jid }}"
XMPP_SERVER="{{ base_shouter_server }}"
XMPP_RESOURCE="{{ base_shouter_resource }}"
XMPP_PWD="{{ base_shouter_pwd }}"
XMPP_MUC="{{ base_shouter_muc }}"
SENDXMPP="/opt/go/bin/go-sendxmpp  -u ${XMPP_JID}  -j ${XMPP_SERVER} -r ${XMPP_RESOURCE} -p ${XMPP_PWD} -c ${XMPP_MUC}"
